.navigation {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid #ffffff1c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__logo {
  width: 200px;
  height: 24px;
  margin-left: 104px;
}

.navigation__list {
  display: flex;
  gap: 57px;
  align-items: center;
  margin-right: 104px;
  list-style: none;
}

.navigation__link {
  text-decoration: none;
  color: white;
  padding: 10px;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.navigation__button {
  width: 176px;
  height: 48px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border: 1px solid white;
  cursor: pointer;
}

.navigation__button_logout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.navigation__logout-icon {
  margin-left: 15px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  object-fit: contain;
}

.navigation__link:after {
  content: "";
  width: 0;
  height: 4px;
  background-color: aliceblue;
  position: absolute;
  bottom: -22px;
  right: 50%;
  transition: all 0.5s;
  will-change: width;
}

.navigation__link:hover:after {
  width: 100%;
  right: 0;
}

.navigation_saved-news {
  background-color: white;
  border-bottom: 2px solid #d1d2d6;
}

.navigation_saved-news .navigation__link {
  color: #1a1b22;
}

.navigation_saved-news .navigation__link:after {
  background-color: #1a1b22;
}

.navigation_saved-news .navigation__button {
  color: #1a1b22;
  border-color: #1a1b22;
}

.navigation_saved-news .navigation__button_logout {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #1a1b22;
  border-color: #1a1b22;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navigation__logo {
    width: 200px;
    height: 24.8px;
    margin-left: 40px;
  }

  .navigation__list {
    gap: 16px;
    margin-right: 40px;
  }

  .navigation__link {
    font-size: 16px;
    padding: 8px 6px;
  }

  .navigation__link:after {
    bottom: -18px;
  }

  .navigation__button {
    width: 152px;
    height: 40px;
    font-size: 16px;
  }
}
