/* Bloque search-form */
.search-form {
  display: flex;
  flex-direction: column;
  max-width: 608px;
  width: 90%;
  margin: 80px auto 0 auto;
  padding: 0 20px;
}

.search-form__title {
  color: white;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  margin: 0 0 32px 0;
}

.search-form__subtitle {
  color: white;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 64px 0;
}

.search-form__field {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 68px;
}

.search-form__input {
  flex: 1;
  height: 64px;
  background-color: #ffffff;
  border: 1px solid #d1d2d6;
  color: #1a1b22;
  border-radius: 100px;
  padding: 0 24px;
  font-size: 16px;
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.search-form__button {
  position: absolute;
  right: 0;
  background-color: #2f71e5;
  color: white;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  width: 168px;
  height: 64px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.search-form__button:hover {
  background-color: #1e4a9b;
}
