.header {
  min-height: 0px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.384)),
    url("../../images/principal_image.jpg");
  background-size: cover;
  background-position: center;
}

.header_no-background {
  .header_no-background {
    min-height: 0; /* ← cambia de -5180px a 0 */
    background-image: none;
    background-color: #fff;
    margin-bottom: 0;
  }
  background-image: none;
  background-color: #fff;
  margin-bottom: 0; /* ← cambia de 140px a 0 */
}

@media screen and (max-width: 767px) {
  .header {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
  }

  .header_no-background {
    margin-bottom: 0;
  }
}
