.header {
  height: 576px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.384)),
    url("../../images/principal_image.jpg");
  background-size: cover;
  background-position: center;
}

.header__container {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid #ffffff1c;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 0;
}

.header__logo {
  width: 200px;
  height: 24px;
  margin-left: 104px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 57px;
  align-items: center;
  margin-right: 104px;
  list-style: none;
}

.header__link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px;
  position: relative;
}

.header__button {
  width: 176px;
  height: 48px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  border-color: white;
  border: 1px solid white;
  cursor: pointer;
}

.header__hero {
  display: flex;
  flex-direction: column;
  max-width: 608px;
  width: 90%;
  margin: 80px auto 0 auto;
  padding: 0 20px;
}

.header__title {
  color: white;
  font-size: 60px;
  line-height: 64px;
  font-weight: 700;
  margin: 0 0 32px 0;
}

.header__paragraph {
  color: white;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 64px 0;
}

.header__search {
  display: flex;
  gap: 16px;
  width: 100%;
}

.header__input {
  flex: 1;
  height: 64px;
  background-color: #ffffff;
  color: #1a1b22;
  border-radius: 100px;
  border: none;
  padding: 0 24px;
  font-size: 16px;
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header__search-button {
  background-color: #2f71e5;
  color: white;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  width: 168px;
  height: 64px;
  border-radius: 100px;
  border: none;
}

.header__link:after {
  content: "";
  width: 0;
  height: 4px;
  background-color: aliceblue;
  position: absolute;
  bottom: -22px;
  right: 50%;
  transition: all 0.5s;
  will-change: width;
}

.header__link:hover:after {
  width: 100%;
  right: 0;
}
