.header {
  min-height: 576px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.384)),
    url("../../images/principal_image.jpg");
  background-size: cover;
  background-position: center;
}

.header_no-background {
  height: 0px;
  background-image: none;
  background-color: #fff;
  margin-bottom: 140px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    height: 400px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    min-height: auto;
    padding-bottom: 40px;
  }

  .header_no-background {
    height: auto;
    margin-bottom: 0;
  }
}
