.news-card-list {
  width: 100%;
  margin-top: 64px;
}

.news-card-list__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
  width: 100%;
}

@media (min-width: 1024px) {
  .news-card-list__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .news-card-list__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.news-card-list__button {
  display: block;
  width: 288px;
  height: 64px;
  margin: 64px auto 80px auto;
  background-color: #e8e8e8;
  border: 1px solid #e8e8e8;
  border-radius: 80px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}
